.skills__container {
    grid-template-columns: repeat(3, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills__box-robotics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills__group-robotics {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data-robotics {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px
}

.skills__level {
    font-size: var(--tiny-font-size);
}

.softskills__container {
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.softskills__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
}

.softskills__img {
    width: 50px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.softskills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}


/* Breakpoints */

/* Large devices */
@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: 100%;
        row-gap: 2rem;
    }

    .skills__box {
        justify-content: space-evenly;
    }

    .softskills__container {
        gap: 1rem;
    }

    .softskills__card {
        padding: 0.5rem;
    }

    .softskills__img {
        margin-bottom: 0.25rem;
    }

}

@media screen and (max-width: 768px) {
    .softskills__container {
        grid-template-columns: repeat(2, max-content);
    }
}

/* Medium devices */
@media screen and (max-width: 576px) {
    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__content {
        padding: 1.5rem;
    }

    .softskills__container {
        grid-template-columns: max-content;
    }
}

/* Small devices */
@media screen and (max-width: 350px) {
    .skill__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
}